[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyreforms"]
	path = shinyreforms
	url = https://github.com/piotrbajger/shinyreforms
